 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 924px;
}

.u-section-1 .u-image-1 {
  width: 613px;
  height: 734px;
  margin: 79px 56px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 707px;
  min-height: 792px;
  margin: -747px auto 36px 78px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 4px;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  line-height: 1.1;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 12px 356px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  line-height: 1.4;
  background-image: none;
  margin: 19px auto 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 38px auto 0 28px;
  padding: 14px 73px 15px 71px;
}

.u-section-1 .u-icon-1 {
  color: rgb(194, 98, 175) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-1 .u-image-1 {
    width: 527px;
    height: 682px;
    margin-top: 67px;
    margin-right: 28px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -658px;
    margin-bottom: 28px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6.875rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: 347px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-1 .u-group-1 {
    margin: -636px 0 0 auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.875rem;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 55px;
    padding-left: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1360px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 63px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 1217px;
    margin-bottom: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
    width: auto;
    margin-top: 681px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
    margin-bottom: -413px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1135px;
  }

  .u-section-1 .u-image-1 {
    height: 440px;
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 595px;
    margin-top: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 45px;
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: -3px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 29px;
    margin-left: 3px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
    margin-bottom: 0;
    margin-left: 23px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 753px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 53px 33px -15px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -380px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1666px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 49px;
    margin-bottom: 49px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/IMG_1348_2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1286px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  width: 481px;
  margin: 100px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 52px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 52px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 52px 0 79px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-3 .u-text-4 {
    margin-bottom: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 828px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-4 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 827px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  width: 153px;
  margin: 99px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 30px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 432px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/C69A0164-2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/C69A3180.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 356px;
  }

  .u-section-4 .u-image-1 {
    width: 269px;
    height: 269px;
    margin-right: 50px;
    margin-left: 87px;
  }

  .u-section-4 .u-image-2 {
    width: 269px;
    height: 269px;
    margin-right: 50px;
    margin-left: 87px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 494px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  width: 338px;
  margin: 100px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 20px 54px 0 70px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 54px 0 70px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  font-size: 1.25rem;
  text-align: left;
  font-family: Poppins;
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 20px 54px 0 70px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 54px 100px 70px;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-15 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-text-5 {
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 4395px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-text-4 {
    margin-top: 33px;
  }

  .u-section-5 .u-text-5 {
    margin-bottom: 50px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 684px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  margin: 70px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 405px;
  width: 760px;
  margin: 40px 184px 60px auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 30px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 30px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  padding: 30px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 68px;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 41px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-6 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 80px;
  }

  .u-section-6 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1947px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  margin: 100px 40px 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: -61px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 1643px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 4px;
}

.u-section-7 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.25rem;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1785px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 98px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 1355px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 157px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2873px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: -2746px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 2537px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-left: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-right: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 647px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  width: 218px;
  margin: 100px auto 0;
}

.u-section-8 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  width: 680px;
  margin: 49px auto 0;
}

.u-section-8 .u-social-icons-1 {
  height: 67px;
  min-height: 16px;
  width: 477px;
  min-width: 224px;
  white-space: nowrap;
  margin: 49px auto 29px;
}

.u-section-8 .u-icon-1 {
  height: 63px;
}

.u-section-8 .u-icon-2 {
  color: rgb(0, 122, 185) !important;
}

.u-section-8 .u-icon-3 {
  height: 0;
  color: rgb(166, 205, 60) !important;
}

.u-section-8 .u-icon-4 {
  height: 0;
  color: rgb(66, 133, 244) !important;
}

.u-section-8 .u-icon-5 {
  height: 0;
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    width: auto;
    margin-right: 107px;
    margin-left: 130px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    margin-left: 17px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-social-icons-1 {
    margin-bottom: -21px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-social-icons-1 {
    width: 340px;
    height: 39px;
    margin-bottom: 32px;
  }
}